<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <style>
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #164863;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
}


    </style>
</head>
<body>

    <nav>
        <a href="/attendees_dashboard">Dashboard</a>
        <a href="/view_events">Events</a>
        <a href="/view_history">History</a>
        <a href="/logout">Logout</a>
    </nav>

    <!-- The rest of your content goes here -->

</body>
</html>
